# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate

# Workspace
xcuserdata/
*.xcworkspace/xcuserdata

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
Packages/
.swiftpm/

# macOS
.DS_Store

# Logs
*.log

# Temporary
*.swp
